body {
    background-color: #d8d7d7 !important;
  }
  
  .container {
    margin-top: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
    width: 50%;
    background-color: #f0f0f0;
  }
  
  .slug {
    color: red !important;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  p {
    margin-left: 10px;
  }
  
  /*buttons*/
  .add {
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: green;
    color: white;
    border: none;
  }
  #searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

/* #searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px;
} */
